.container {
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url("https://cdn.pixabay.com/photo/2015/12/09/17/11/vegetables-1085063_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-text {
  margin-top: 0 auto;
  width: 45%;
  height: 65%;
  border: 1px solid black;
  background-color: rgba(20, 14, 14, 0.76);
}

.text {
  color: rgb(230, 230, 215);
}

.main-h1 {
  padding: 6% 0% 2%;
}

.main-p {
  padding: 0% 5%;
  line-height: 30px;
  margin-bottom: 8%;
}
